<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>HELLLLLLLLLLLLOOOOOOOOOOOO</h1>
    

    <table></table>
        {% for item in items %}
        <tr>
            {% if item.done %}
                <dt><strike>>{{ item.name }}</strike></dt>
            {% else %}
                <dt>{{ item.name }}</dt>
            {% endif %}
            <dt>                   
                <a href="/toggle/{{ item.id }}">
                    <button>Toggle</button>
                </a>
            </dt>
            <dt>
                <a href="/edit/{{ item.id }}">
                    <button>Edit</button>
                </a>
            </dt>
            <dt>
                <a href="/delete/{{ item.id }}">
                    <button>Delete</button>
                </a>
            </dt>
        </tr>
    {% empty %}
        <tr><td>You have nothing to do!</td></tr>
    {% endfor %}
    </table>
    <a href="/add">Add an Item</a>
</body>
</html>